<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/vms_icon"
        android:label="VMS"
        android:roundIcon="@drawable/vms_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.VMSv1"
        tools:targetApi="31">

        <activity
            android:name=".DataModel"
            android:exported="false" />
        <activity
            android:name=".ui.GateMaster"
            android:exported="false" />
        <activity
            android:name=".ui.SBUMaster"
            android:exported="false" />
        <activity
            android:name=".ui.LocationMaster"
            android:exported="false" />
        <activity
            android:name=".ui.CompanyMaster"
            android:exported="false" />
        <activity
            android:name=".ui.AreaMaster"
            android:exported="false" />
        <activity
            android:name=".ui.IDProofTypeMaster"
            android:exported="false" />
        <activity
            android:name=".ui.VisitorTypeMaster"
            android:exported="false" />
        <activity
            android:name=".ui.UserMaster"
            android:exported="false" />
        <activity
            android:name=".ui.DailyVisitor"
            android:exported="true" />
        <activity
            android:name=".ui.ManageVisitor"
            android:exported="true" />
        <activity
            android:name=".ui.BlackList"
            android:exported="true" />
        <activity
            android:name=".ui.VisitorEntry"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.VISTORENTRY" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
            android:name=".ui.LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="VMS"
            android:theme="@style/Theme.VMSv1.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PhotoCapture"
            android:exported="true"
            android:label="VMS"
            android:theme="@style/Theme.VMSv1.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN1" />

                <category android:name="android.intent.category.PHOTO" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayNDA"
            android:exported="true"
            android:label="VMS"
            android:theme="@style/Theme.VMSv1.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.NDA" />

                <category android:name="android.intent.category.NDA" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrintLabel"
            android:exported="true"
            android:label="VMS"
            android:theme="@style/Theme.VMSv1.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.Print" />

                <category android:name="android.intent.category.Print" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyPrintDocumentAdapter"
            android:exported="true"
            android:label="VMS"
            android:theme="@style/Theme.VMSv1.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.PrintDocumentAdapter" />
                <category android:name="android.intent.category.Adapter" />
            </intent-filter>
        </activity>
        <activity
            android:name=".testactivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.TESTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>